@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url(../fonts/Mulish-Regular.ttf) format('truetype');
    font-weight: 400;
}